<div class="relative">
  <img
    class="w-full h-[30vh] object-cover relative z-0 mt-[-10vh]"
    src="/images/fotoContacto2.jpg"
    alt="Imagen de cabecera"
    style="object-position: center bottom;"
  />
  <div class="absolute top-2/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center">
    <h1 class="text-3xl font-bold">Dinos lo que piensas</h1>
    <h3 class="text-xl mt-4">Envianos tus dudas o avísanos de cualquier mala experiencia que hayas tenido</h3>
  </div>
</div>
