input {
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #ddd;
  height: 4px;
  border-radius: 2px;
  outline: none;
}

input[type="range"]:focus {
  background: #bbb;
}