<img
  class="h-auto max-w-full"
  src="/images/cabecera.png"
  alt="image description"
/>
<div class="text">
  <h1 class="text-3xl dark:text-white">
    Encuentra toda la diversión cerca de ti
  </h1>
  <h3 class="text-fxl dark:text-white">
    Únase a nuestra vibrante comunidad y explore una variedad de actividades
    adaptadas a sus intereses. Con EventMeet, nunca se perderá los emocionantes
    eventos que suceden a su alrededor. Nuestra plataforma utiliza tecnología de
    ubicación avanzada para acercarlo a la acción.
  </h3>
</div>
