<div
  class="grid grid-cols-1 md:grid-cols-4 gap-4"
  style="margin-top: 700px; transform: translateX(15%)"
>
  <div class="grid gap-4" *ngFor="let event of events; let i = index">
    <div>
      <div class="h-auto max-w-full rounded-lg">
        <img class="center-image"
          [src]="'https://picsum.photos/250/'+ (200 + (i * 50)) + '/?random=' + i"
          alt="{{ event.title }}"
        />
        <h5 class="text-center">{{ event.title }}</h5>
      </div>
    </div>
  </div>
</div>


