<div class="flex flex-col items-center justify-center h-auto bg-gray-100 py-8 relative" id="unirse">
  <a href="#">
    <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white mb-4 text-center z-10 relative">
      Busque los eventos de forma interactiva en el mapa
    </h5>
  </a>

  <div class="flex justify-center w-full relative">
    <img class="w-full h-[30vh] object-cover z-0" src="../../../images/ciudadMapa2.png" alt="Mapa de la ciudad">
    
    <!-- Sombra degradada para mejorar la visibilidad del texto -->
    <div class="absolute inset-0 bg-gradient-to-t from-gray-100 via-transparent to-transparent"></div>
  </div>
</div>
